@model LoginModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal">Get Started</button>
</div>

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Log in to ConvoSeek</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="Account" asp-action="Login" method="post">
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" id="emailInput" placeholder="Email Address">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-control" id="passwordInput" placeholder="Password" type="password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary w-100 mt-4">Log In</button>
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <span>Don't have an account? <a asp-action="Register" asp-controller="Account" class="text-primary">Register</a></span>
            </div>
        </div>
    </div>
</div>